@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,700;1,400;1,700&family=Luckiest+Guy&family=Merriweather&family=Montserrat:wght@200;400&family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,700;1,400;1,700&family=Luckiest+Guy&family=Merriweather&family=Montserrat:wght@200;400&family=Poppins:wght@100;200;300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  scrollbar-width: thin;
}

*::-webkit-scrollbar{
  width: 8px;
  background-color: grey;
}

a{
  text-decoration: inherit;
  color: inherit;
}

.app{
  min-height: 98.5vh;
  border: 0px solid #39445a93;
  margin: 5px;
  padding: 5px;
}